body {
    padding: 0;
    margin: 0;
}

.background-append-image {
    background-image: url("./../image/backGroundImage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.nav-row {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1rem 0;
}

.mainHeading {
    text-align: center;
    padding: 3rem 0;
    color: #fff;
    font-weight: bold;
}

.subHeading {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.btn-align {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
}

.btn-align .btn-set {
    padding: 1rem 4rem;
    width: 20rem;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 25rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-align .btn-set:hover {
    background-color: #fff;
    color: #000;
}

.btn-align .anchor {
    color: #fff;
}

.nav-background {
    background-color: #000;
    min-height: 100vh;
    max-height: auto;
}

.nav-item-set {
    border-bottom: 1px solid #8d8d8d;
    padding: 0.5rem 0;
}

.nav-item-set>a {
    color: #fff;
    font-size: 0.7rem;
}

.nav-item-set>a:hover {
    color: orange;
}

.nav-background {
    width: 100% !important;

}

.custom-navbar .navbar-nav {
    padding: 0;
}
.header-card{
    background-color: white;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
    color: orange;
}


@media only screen and (max-width: 991px) {
    .nav-background {
        min-height: auto;
        max-height: auto;
    }
}